<tr data-id='<%= account.id %>'>
  <td><%= account.name %></td>
  <td><%= account.created_at %></td>
  <td><%= account.campaigns.map{ |c| c.name }.join('<br>').html_safe %></td>
  <td>
    <%= link_to("<i class='fa fa-eye' aria-hidden='true'></i>".html_safe,
                account_path(id: account.id),
                class: 'btn btn-primary') %>
    <%= link_to("<i class='fa fa-download' aria-hidden='true'></i>".html_safe,
                download_account_path(id: account.id),
                class: 'btn btn-primary') %>
    <%= link_to("<i class='fa fa-trash' aria-hidden='true'></i>".html_safe,
                account_path(id: account.id), method: :delete,
                class: 'btn btn-primary') %>
  </td>
</tr>
