<div id='instructions' class="well">
  <h1>Instructions: AdWords to JSON Convertor</h1>
  <p>To process the file:</p>
  <ul>
    <li>Enter the account name</li>
    <li>Choose the file you wish to process</li>
    <li>Click the Create Account button</li>
  </ul>
  <p>The account will be created and will appear in the list of accounts available.</p>
  <ul>
    <li><i class='fa fa-eye' aria-hidden='true'></i> To view the json output, click the show icon</li>
    <li><i class='fa fa-download' aria-hidden='true'></i> To download the json file, click the download icon</li>
    <li><i class='fa fa-trash' aria-hidden='true'></i> To delete the account, click the delete icon</li>
  </ul>
</div>

<div id='account_entry_form' class='well'>
  <%= simple_form_for @account, wrapper: :inline_form, html: { class: 'form-inline' } do |f| %>
    <%= f.error_notification %>
    <%= f.input :name, placeholder: 'Enter the account name', required: true, autofocus: true %>
    <%= f.input :file, as: :file, required: true %>
    <%= f.button :submit, class: 'btn-primary' %>
  <% end %>
</div>

<div id='messages'>
  <%= render 'layouts/messages' %>
</div>

<div class="row" id='accounts_list'>
  <div class="col-md-12">
    <table class="table table-bordered table-striped datatable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Created</th>
          <th>Campaigns</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'account', collection: @accounts %>
      </tbody>
    </table>
  </div>
</div>
